body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
/* input {
  outline: none;
  border: none;
} */
.header {
  width: 100%;
  height: 600px;
  position: relative;
  background-color: #15151d;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10.9;
  background-image: url("../components/image/photo2.jpg");
}

nav ul li a:hover {
  /* background-color: #c3ccce; */
  background-color: rgb(18, 25, 48);
  transition: all ease 0.2s;
}
.intro {
  font-family: "Montserrat";
  width: 500px;
  position: absolute;
  left: 16%;
  top: 50%;
  transform: translate(-20%, -50%);
}
.intro span {
  color: #2d2904;
}
.intro .details {
  color: #1e4f5c;
}
.intro h1 {
  font-family: "Montserrat";
  font-size: 46px;
  margin: 0px;
  letter-spacing: 3px;
  color: #236c7e;
}
.intro p {
  color:powderblue;
  font-weight: 150000;
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-btn {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #236c7e;
  text-decoration: none;
  box-shadow: 5px 10px 30px rgba(2, 82, 255, 0.137);
  border-radius: 10px;
  color: #ffffff;
}
.header-btn:hover {
  background-color: #04afda;
  transition: all ease 0.5s;
  color: #ffffff;
  box-shadow: 5px 0px 30px rgba(2, 154, 255, 0.39);
}

/* let's talk conatainer */
.feedback {
  background-color: #353739 !important;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
  flex-wrap: wrap;
}
.talk {
  margin-left: 5px;
  color: #f7f0f0;
  margin-block-end: auto;
  width: 30%;
  font-size: xx-large;
  margin-top: 6rem;
}
.talk p {
  font-weight: 300;
  margin-top: 2rem;
}
.talk h2 {
  margin-top: 5rem;
}
.talk-text {
  font-size: 18px;
}
.feedback-container {
  display: flex;
  color: rgb(226, 215, 215);
  display: block;
  width: 50%;
}

.form-container .input-feild {
  width: 26rem;
  padding: 15px 0px;
  margin-left: 15px;
  border-bottom-style: solid;
  margin-top: 3rem;
  background: transparent;
  cursor: pointer;
}

.Submit {
  display: flex;
  padding: 7px 75px;
  font-size: 20px;
  border-radius: 20px;
  background: rgba(161, 198, 223, 0.884);
  margin-top: 15px;
  margin-left: 6rem;
  cursor: pointer;
  transition: all 0.1s;
}
.Submit:hover {
  background-color: #04afda;
  transition: all ease 0.5s;
  color: #ffffff;
  box-shadow: 2px 0px 10px rgba(2, 154, 255, 0.39);
}

/* footer---container */
.footer-container {
  background-color: black;
  text-align: center;
  color: white;
  padding: 15px;
  size: 3px;
}
#repeatcard {
  grid-template-columns: repeat(3, 3fr);
}
.footer-portal2{
  background-color: #23232d;
  text-align: center;
  color: white;
  padding: 15px;
  size: 3px;
}