@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Jost", sans-serif; */
}

div .navbar-font-size nav .main-nav {
  font-size: 62.5%;
}

.logo h2 a {
  text-decoration: none;
}
#logo-text {
  font-size: 62.5%;
}
.menu-link ul li a {
  font-size: 62.5%;
}
#button-disable #more-dropdown {
  font-size: 62.5%;
}
li {
  list-style: none;
}

/* 
 
/* navbar style start  */

.main-nav {
  width: 100%;
  height: 3.5rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  background-color: rgb(18, 25, 48);
  box-shadow: 0 5px 10px rgb(50 13 136 / 25%);
  position: fixed;
  transition: 0.2s;
  z-index: 10000;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  color: #fff;
  height: 3em;
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-link ul li a {
  text-decoration: none;
}
#button-disable {
  margin-top: -0.8rem;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  /* this logo h2 is not working ....correct it */
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: #fff;
  transition: 0.5s;
  font-family: "Rajdhani", sans-serif;
}
.menu-link ul li:hover a {
  transform-origin: left;
  /* color: rgba(0, 0, 3, 1); */
  transition: width 0.5s;
  text-decoration: none;
  background-image: linear-gradient(90deg, #0ff);
}

/* Dropdown Button using bootstrap */

.button {
  color: #fff;
  font-size: 1rem;
  height: 7.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  height: 3em;
  position: relative;
  border-color: #9d9fa1;
  font-size: 1.8rem;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show .btn-primary.dropdown-toggle {
  background-color: #17191b;
  border-color: #3e4042;
  font-size: 1.8rem;
}

#button-disable button:not(:disabled) {
  cursor: pointer;
  position: relative;
  background-color: #17191b;
  border-color: #9d9fa1;
  font-size: 1.8rem;
}
#dropdown a {
  text-decoration: none;
  color: black;
}
<<<<<<< HEAD

/* logo container */
.inner-logo{
  float: left; 
  height: 67px; 
  padding: 2px; 
  font-size: 20px; 
  font-weight: bold;
  content: "";
  display: table;
  clear: both;
}
.logo-nav{
  float:left; 
  font-size:14px; 
  height: 50px; 
  border-radius: 50%;
}
.logodiv{
  float: left;
  width: 20%;
  font:22px Arial, sans-serif;
  font-weight: 800;
  padding-top: 17px;

}
.navimg{
  float: left;
  padding: 5px 10px;
  height: 100%;
}
.navimg #nav_img{
  height:50px;
}
.logodiv #nav_text{
  text-decoration: none; 
  background-color: transparent; 
  color:#ededed;
}
=======
/* picture */
#color-height {
  height: 20rem;
  background-color: #121930;
}
#boyset {
  height: 16rem;
  width: 43%;
  margin-top: 3rem;
  margin-left: 42rem;
}
#livethe {
  color: #fff;
  margin-top: -14rem;
  margin-left: 2rem;
  font-size: 3.8rem;
  font-family: "Baloo Bhai 2", cursive;
}
#typewriter {
  margin-left: 2rem;
  margin-top: 5rem;
  font-size: 2rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
  border-right: 5px solid #fff;
  font-family: "Baloo Bhai 2", cursive;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 32%;
  }
}
@keyframes blink {
  from {
    border-color: #fff;
  }
  to {
    border-color: transparent;
  }
}
>>>>>>> c4c8b492a8865c7c4568b84cb686665bf0d672b9
