@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

.logo h2 a{
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 
/* navbar style start  */

.main-nav {
  width: 100%;
  height: 7rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  background-color: #23232d;
  
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  color: #fff;
  height: 7em;
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* ----------- Grid part ends ----------------- */


.logo h2 {   /* this logo h2 is not working ....correct it*/
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color:#fff;
}



.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(195, 195, 207, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  transition: 0.5s;
  text-decoration: none;
  
}

/* Dropdown Button using bootstrap*/

.button{
    color: #fff;
    font-size: 1.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown {
    height: 3em;
    position: relative;
    border-color: #9d9fa1;
    font-size: 1.8rem;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #17191b;
    border-color: #3e4042;
    font-size: 1.8rem;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    position: relative;
    background-color: #17191b;
    border-color: #9d9fa1;
    font-size: 1.8rem;
}